/* TABLE OF CONTENT 
- Reset CSS
- MAIN STYLES
- Backgrounds
- CONTENT STYLES
- Header
- Footer
- Social Containers
- Sections
- Video Containers
- Miscellaneous
- Slider
- Mouse Scroller
- Carousel
- FX
- Accordion
- Portfolio
- Gallery
- Blog
- Contact Form
- Buttons
- RESPONSIVE STYLES
*/

/* Reset CSS
* --------------------------------------- */
body, html{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
a:hover {
    text-decoration: none;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
table {
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}
strong {
    font-weight: bold;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
caption, th {
    text-align: left;
}
q:before, q:after {
    content: '';
}
.full-height {
    height: 100vh;
}

/*------ MAIN STYLES -----*/
body {
    font-family: 'Poppins', sans-serif;
    color: #16161d;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
}
.display {
    font-size: 150px;
    color: #ffffff;
    width: 100%;
    line-height: 1.1em;
    font-weight: 500;
    display: inline-block;
}
h1 {
    display: block;
    font-size: 58px;
    line-height: 1.1em;
    margin: 20px 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
    font-weight: inline-block;;
}
h2 {
    font-size: 40px;
    color: #16161d;
    width: 100%;
    margin: 10px 0;
    line-height: 1.2em;
    font-weight: 500;
    display: inline-block;;
}
h3 {
    font-size: 30px;
    line-height: 1.6em;
    color: #16161d;
    width: 100%;
    margin: 10px 0;
    display: inline-block;;
}
h4 {
    font-size: 20px;
    color: #16161d;
    line-height: 1.6em;
    width: 100%;
    margin: 10px 0;
    display: inline-block;
}
h5 {
    font-size: 12px;
    color: #16161d;
    letter-spacing: 4px;
    font-weight: 500;
    width: 100%;
    margin: 10px 0;
    text-transform: uppercase;
    display: block;
}
h6 {
    font-size: 13px;
    color: #16161d;
    font-weight: 200;
    margin: 10px 0;
    line-height: 1.8em;
    width: 100%;
}
p {
    font-size: 15px;
    line-height: 1.5em;
    width: 100%;
    color: #16161d;
    font-weight:300;
    margin-bottom: 20px;
    display: inline-block;
}
.t-thin {
    font-weight:300;
}

blockquote .author{
    font-family: 'Montserrat', serif;
}
a i{
    font-size: 11px;
}

a:focus, button:focus { 
    outline: none;
    box-shadow: none;
    border:none;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
}
/*------ BACKS -----*/
/* Background Images */
.back{
    background-position: bottom center;
    background-repeat: no-repeat; 
    background-size:cover;
}
.back.one{
    background-image:url("../assets/img/backs/01.jpg");
}
.back.two{
    background-image:url("../assets/img/backs/02.jpg");
}
.back.three{
    background-image:url("../assets/img/backs/03.jpg");
}
.back.four{
    background-image:url("../assets/img/backs/04.jpg");
}
.back.five{
    background-image:url("../assets/img/backs/05.jpg");
}
.back.six{
    background-image:url("../assets/img/backs/06.jpg");
}
.back.seven{
    background-image:url("../assets/img/backs/07.jpg");
}
.back.eight{
    background-image:url("../assets/img/backs/08.html");
}
.back.nine{
    background-image:url("../assets/img/backs/09.html");
}
.back.ten{
    background-image:url("../assets/img/backs/10.html");
}

.v-back{
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat; 
}
.v-back.one{
    background-image:url("../assets/img/backs/v-01.jpg");
}
.v-back.two{
    background-image:url("../assets/img/backs/v-02.jpg");
}
.v-back.three{
    background-image:url("../assets/img/backs/v-03.jpg");
}
.v-back.four{
    background-image:url("../assets/img/backs/v-04.jpg");
}
.v-back.five{
    background-image:url("../assets/img/backs/v-05.html");
}
/*------ CONTENT STYLES -----*/
/* Header*/
header{
    width: 100%;
    overflow-x: hidden;
    position: fixed;
    z-index: 1028;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

html:not([data-scroll='0']) header {
    background: #f9f9f9;
    box-shadow: 0 10px 100px 0 rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

html:not([data-scroll='0']) header.dark {
    background: #16161d;
}

.nav-item a{
    font-size: 15px;
    font-weight: 500;
}
.navbar-lg .nav-item a{
    font-size: 18px;
    font-weight: 500;
    line-height: 2em;
}

.navbar-lg .navbar-nav{
    margin: 30px 0;
} 

.nav-item a i{
    font-size: 20px!important;
    margin-top: -2px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: #16161d;
} 
.navbar-toggler{
    border: none;
} 
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;

}
span.animated-icon{
    display: block;
}
.animated-icon{
    width: 20px;
    height: 20px;
    position: relative;
    margin: 8px 0 0 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon span {
    background: #fff;
}
header.dark .animated-icon span {
    background: #ffffff;
}

.animated-icon span:nth-child(1) {
    top: 3px;
}

.animated-icon span:nth-child(2) {
    top: 10px;
}

.animated-icon.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}


.animated-icon.open span:nth-child(2) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
/* Logo*/

.logo img{
    height: 50px;
}

.navbar-brand{
    font-size: 32px;
    font-weight: 600;
}
header .navbar-brand.logo{
    width: 200px;
    float: left;
}
header .logo a{
    text-decoration: none;
    color: #f9f9f9;
}

header .menu {
    height: 20px;
    width: 50%;
    float: left;
}
header .primary-btn, header .primary-line-btn{
    margin: 0;
}
/* Footer*/
footer{
    padding: 30px 0 20px 0;
    width: 100%;
    border-top: 1px solid #333;
}
footer .navbar-brand{
    font-size: 24px;
    font-weight: 600;
    color: #333;
}
footer .w-1 {
    text-align: left;
}
footer .w-2 {
    text-align: center;
}
footer .w-3 {
    text-align: right;
}
footer .container{
    padding: 0;
}
footer .container.fix{
    padding: 0;
    margin:0;
}
footer.two{
    padding: 20px 0;
    width: 100%;
    border:none;
    position: relative;
    bottom: 0;
}
footer.sticky{
    padding: 20px 0;
    width: 100%;
    border:none;
    position: fixed;
    bottom: 0;
    z-index: 99;
}
footer .footer-logo{
    height: 30px;
    margin: 20px;
}
footer .copyright{
    opacity: .9;
    font-size: 11px;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

footer .links{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
}
footer .links a{
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
}

/* Social Containers*/
.social-container{
    width: 100%;
    text-align: center;
}
.social-container.left{
    width: 50px;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 999;
    display: table;
}
.social-container.right{
    width: 50px;
    height: 100%;
    position: fixed;
    right: 0;
    z-index: 999;
    display: table;
}
.social-container.top{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 999;
}
.social-container.footer{
    width: auto;
    height: 50px;
    margin: 0 auto;
}
.social-container .social-block{
    margin: auto;
}
.social-container.left .social-block, .social-container.right .social-block{
    height: 300px;
    vertical-align: middle;
    display: table-cell;
}
.social-container i{
    font-size: 20px;
    opacity: 1;
    margin: 5px 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.social-container a:hover i{
    opacity: .7;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.social-container a{
    margin: 10px;
    display: inline-block;
}
/* Sections*/
.section{
    min-height: 100vh;
    width: 100%;
    display: block;
    margin: auto;
    position: relative;
}
.section.break{
    min-height: 300px;
    width: 100%;
}
.section.video{
    position: relative;
}
#mapDiv .place-card{
    display: none!important;
}

.section.round{
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.section .intro-container{
    margin:80px 0;
    display: inline-block;
    width: 100%;
    padding: 0 150px;
    text-align: center;
}
.title-container{
    margin-bottom:80px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

/* Video Containers */
.video-back {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.video-back video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.video-container{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    background: #010101;
    position:relative;

}
.video-container a{
    cursor: pointer;
    z-index: 50;
    height: 100%;
    width: 100%;
    position: absolute;
    display: table;
    text-align: center;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.video-container a i{
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    opacity: .7;
    color: #fff;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.video-container a:hover i{
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.player {
    width: 700px;
    margin: 0 auto;
}

.player video {
    width: 100%;
}
.player span {
    font-size: 10px;
}

/* Miscellaneous Styles */
.line{
    width: 50px;
    height: 1px;
    display: inline-block;
    margin: 0 auto;
    background: #fff;
}
.half-line{
    width: 50%;
    height: 1px;
    display: inline-block;
    margin: 0 auto;
    background: #999;
}
.break-line{
    width: 100%;
    height: 1px;
    display: inline-block;
    margin: 0 auto;
    background: #999;
}
.paragraph{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.content ul {
    margin:10px 0;
}
.content ul li{
    padding: 5px 0;
    font-size: 15px;

}
.content ul li i{
    font-size: 12px;
    margin-right: 10px;
}
.featured-icon i{
    font-size: 40px;
    margin: 30px 0 10px 0;
}
.banner{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding: 60px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 10px 100px 0 rgba(0,0,0,0.1);
}
.banner.border{
    border: 1px solid #fff;
}
.banner .cta-container{
    margin: 40px 0 0 0;
}

mark {
    padding: 0 .2em!important;
}
.hero-back-label{
    position: fixed;
    z-index: -3;
    top: 45%;
    line-height: 1;
    font-size: 150px;
    width: 100%;
    display: block;
    font-weight: bold;
    text-align: center;
}
.hero-label-one{
    position: absolute;
    z-index: -1;
    font-size: 150px;
    text-align: center;
    margin: -90px auto 0 auto;
    width: 90%;
    padding: 0;
    display: block;
    line-height: 1;
}
.hero-label-two{
    z-index: -1;
    font-size: 150px;
    text-align: center;
    width: 100%;
    padding: 0;
    display: block;
    line-height: 1;
}
/* Breadcrumb */
.breadcrumb {
    padding: 20px 0;
    font-size: 12px;
}
.breadcrumb a{
    color:#333;
}
/* Slider */
.slider-container .carousel-control-next, .slider-container .carousel-control-prev {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 6px;
    opacity: 1;
    top: 50%;
    bottom: 30px;
    z-index: 999;
}

.slider-container  .carousel-indicators {
    bottom: 30px;
    left: 30px;
    border-radius:50px;
    padding: 2px 10px;
    z-index: 999;
}

.slider-container .carousel-item  {
    background:#fff;
    z-index: -2;
}
.img-container{
    position: relative;
    height: 100vh;
}
.content-box{
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    z-index: 99;
}
.content-box.two{
    position: relative;
}
.content-data{
    width: 70%;
    padding: 50px;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}
.hero-img-container{
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
}

/* Mouse Scroller */
.scroller {
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.9);
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}
.scroller a, .scroller a:link {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}
.scroller a:hover {
    color: rgba(0, 0, 0, 1);
}
.scroller span {
    margin: 0 auto;
    width: 15px;
    height: 25px;
    text-align: center;
    border: 1px solid #d7d7d7;
    display: block;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
.scroller span.scroll-down {
    display: block;
    width: 1px;
    height: 1px;
    background: #999;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    margin: 10% auto auto auto;
    -webkit-animation: scroll-inner 1s;
    animation: scroll-inner 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease
}
@-webkit-keyframes scroll-inner {
    from {
        margin-top: 15%;
    }
    to {
        margin-top: 50%;
    }
}
@keyframes scroll-inner {
    from {
        margin-top: 15%;
    }
    to {
        margin-top: 50%;
    }
}
@-webkit-keyframes scroll-mouse {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 15px;
    }
}
@keyframes scroll-mouse {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 15px;
    }
}
/* Carousel */
.carousel-indicators {
    bottom: -50px;
}
.slider-container .carousel-indicators li{
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #999;
    border: 0;
    margin: 10px 8px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.slider-container .carousel-indicators .active{
    width: 16px;
    height: 7px;
    background: #010101;
    border-radius: 12px;
}
.carousel-indicators li{
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: #999;
    border: 0;
    margin: 10px 8px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.carousel-indicators .active{
    width: 12px;
    height: 6px;
    background: #010101;
    border-radius: 12px;
}
/* Info Boxes */
.info-box{
    min-height: 100px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    text-align: center;
    border-radius: 6px;
}
.info-box:hover{
    opacity: .5;
}
.box-title{
    padding: 10px 20px 30px 20px;
    display: inline-block;
}
.info-box i{
    font-size: 30px;
}

/* Swipe */
.swipe {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    min-height: 50px;
    width: 100%;
    text-align: center;
}
.swipe .icona{
    position: relative;
    margin: 0 auto;
    width: 30px;
}
/* TextFX */
.hidden {
    opacity:0;
}
.console-container {
    font-family:inherit;
    font-size:60px;
    font-weight: 500;
    height: 200px;
    text-align:center;
    width:100%;
    display:block;
    position:absolute;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
}

.pop-container {
    font-family:inherit;
    font-size:150px;
    font-weight: 600;
    height: 300px;
    text-align:center;
    width:100%;
    display:block;
    position:absolute;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.pop-container .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
}
.pop-container .letters.text{
    background:url("../assets/img/backs/04.jpg") center;
    background-size: contain;
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}
.pop-container.light .letters.text{
    background:url("../assets/img/backs/05.jpg") center;
    background-size: contain;
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}
/* Accordion */
.ac-container {
    margin: 40px 0;
}
.ac-container .nav-item {
    text-align: center;
}
.ac-container .nav-tabs {
    margin: 0 auto;
    border: 0;
}
.ac-container .tab-content{
    margin: 40px 0;
}
.ac-container .panel-container {
    margin: 30px 0 0 0;
}
.ac-container .panel-content {
    padding: 30px;
}
.ac-container .panel-content ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 2.5em;
}
.fa-ul>li {
    position: relative;
}
.fa-ul {
    list-style-type: none;
    margin-left: 20px;
    padding-left: 0;
}
.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
}

/* Portfolio */
#FilterContainer{
    width: 100%;
    display: inline-block;

}
#FilterContainer button{
    float: left;
}
/* Filtering */
.container-work {
    margin: 30px 0;
}

.item-box {
    width: 750px;
    position: relative;
    text-align: left;
    padding: 20px 0;
    border-top: 1px solid rgba(0,0,0, .1);
    display: none; /* Hidden by default */
}

#dark .item-box {
    border-top: 1px solid rgba(255,255,255, .1);
}

.item-box:hover > .featured-img{
    display: block;
}
.featured-img{
    display: none;
    position: absolute;
    top: -55%;
    right: -50%;
    width: 400px;
    z-index: 20;
}

.item-box:hover > .title{
    text-decoration-line: underline;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}
.item-box .projects{
    opacity: .5;
    margin-bottom: 10px;
}
.item-box .projects span{
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 10px;
}
.item-box .projects img{
    margin-right: 10px;
    width: 16px;
}
#portfolio .projects{
    margin: 20px 0;
}
#portfolio .projects span{
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-right: 10px;
}
#portfolio .projects img{
    margin-right: 10px;
    width: 20px;
}

.project-nav{
    position: fixed;
    top: 0;
    z-index: 9;
    padding: 20px 0;
    width: 100%;
    background: rgba(255,255,255,.9);
}
#dark .project-nav{
    background: rgba(0,0,0,.7);
}

.fade-in {
    animation: fadeIn ease .5s;
    -webkit-animation: fadeIn ease .5s;
    -moz-animation: fadeIn ease .5s;
    -o-animation: fadeIn ease .5s;
    -ms-animation: fadeIn ease .5s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
/* Mask Block */
#wrapper{
    overflow: hidden;
    position: relative;
} 
#btn-exit.clicked {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
#btn-exit {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    padding-top: 25px;
}
#btn-exit .line-1, #btn-exit .line-2 {
    width: 50px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    border-radius: 10px;
}
.transition {
    background: #fff;
    -o-transition: 1.5s ease;
    -ms-transition: 1.5s ease;
    -moz-transition: 1.5s ease;
    -webkit-transition: 1.5s ease;
    transition: 1.5s ease;
    outline: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: 1001;
    top: -100%;
}
/* Gallery */
.imageGallery1 .thumb{
    height:  130px;
    padding-bottom: 5px;
} 
.slbCaption {
    font-size: 16px!important;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.split-page .col-md-6{
    padding: 0;
}

/* Blog */
.blog-container{
} 

.post-item{
    padding: 0;
    margin: 0;
    position: relative;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
} 
.post-item:hover .main{
    opacity: .6;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
} 
.post-item .main{
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
} 
.post-item .post-info{
    color: #999;
    float: left;
} 
.post-item .info-box-detail{
    display: inline-block;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 11px;
    text-transform: uppercase;
} 
.post-item .post-info .country, .post-detail .post-info .country{
    color: #010101;
}
.post-item .post-date{
    opacity: .7;
    float: left;
} 
.post-item .post-views{
    display: inline-block;
    width: 100%;
    padding: 10px;
} 

.post-item .post-views .count{
    float: left;
    margin-left: 10px;
    line-height: 3em;
    opacity: .8;
    font-size: 11px;
}
.post-item .post-views img{
    border-radius: 50px;
    border: 1px solid #f9f9f9;
    margin-left: -10px;
    width: 30px;
    float: left;
}

.post-detail .author img{
    border-radius: 50%;
    margin-bottom: 20px;
    width: 110px;
    border: 3px solid #f9f9f9;
}

.post-detail .info-box-detail{
    min-width: 200px;
    display: inline-block;
    margin: 20px 0;
    letter-spacing: 2px;
    padding: 10px 30px;
    font-size: 11px;
    text-transform: uppercase;
} 
.post-detail .post-info{
    color: #999;
    float: left;
} 
.post-detail .separation, .post-item .separation{
    padding: 0 20px;
    float: left;
    opacity: .5;
}
.post-detail .post-views{
    display: inline-block;
    float: left;
    margin-top: -10px;
} 
.post-detail .post-date{
    opacity: .7;
    float: left;
} 

.post-detail .post-views .count{
    line-height: 3em;
    opacity: .8;
}
.post-detail .post-views img{
    border-radius: 50px;
    border: 1px solid #f9f9f9;
    margin-left: -10px;
    width: 30px;
}

.tags{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.tags a.tag{
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid #010101;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #010101;
    margin: 5px;
    opacity: .7;
    border-radius: 6px;
}

.tags a.tag:hover{
    opacity: 1;
    color: #010101;
}

blockquote{
    margin: 20px 0;
    width: 80%;
    font-size: 28px;
    font-weight: 600;
    padding: 10px 0 10px 60px;
    text-align: left;
    position: relative;
    display: inline-block;
}
blockquote .quote{
    font-size: 24px;
    font-style: italic;
    text-align: left;
}
blockquote .author{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 100%;
    display: inline-block;
    font-style:normal;
    opacity: .5;
}
blockquote i{
    font-size: 30px;
    text-align: left;
    position: absolute;
    left: 20px;
    opacity: .2;
}
/* Style that first letter! */

p.subhead::first-letter {
    font-size: 4.5em;
    float: left;
    margin-top: .2em;
    margin-right: 5px;
    font-weight: bold;
}
.credit{
    width: 100%;
    font-size: 10px;
    text-transform: uppercase;
    padding: 20px 0;
    color: #010101;
    letter-spacing: 3px;
    text-align: center;
    opacity: .5;
}
/* Contact Form */
#contact-form{
    width: 100%;
    margin: 40px auto 0 auto;
}
#contact-form .form-group {
    margin-bottom: 1rem;
}
#start #contact-form{
    margin: 20px 0;
}
#contact-form .newsletter .form-group{
    position: relative;
    display: inline-block;
    width: 400px;
    float: left;
    margin-bottom: .5rem;
}
#contact-form .newsletter.two .form-group{
    width: 100%;
}
#contact-form .newsletter.three .form-group{
    width: 300px;
}
#contact-form .newsletter .link-group{
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 20px;
}
#contact-form .newsletter.two .link-group{
    margin-left: 0;
}
#contact-form .newsletter .link-group .primary-btn{
    width: 180px;
    margin: 0;
}
#contact-form .newsletter.three .link-group .primary-btn{
    width: auto;
    margin: 0;
}
#contact-form .newsletter.three .input-item{
    margin: 0;
}
#contact-form .newsletter.three .link-group{
    margin-left: 0;
}
#contact-form .newsletter .input-item{
    padding: 0;
}
#contact-form .controls{
    margin: 0 auto;
    display: inline-block;
}
#contact-form .controls.two{
    width: 400px;
}
#contact-form .form-control{
    width: 100%;
    padding: 19px;
    height: auto;
    border: none;
    border-radius: 0;
    background: #ffffff;
    color: #282828;
    font-size: 14px;
    font-weight: 300;
    margin:0;
}

#contact-form .dark .form-control::placeholder{
    color: #d9d9d9;
}
#contact-form textarea.form-control{
    height: 150px;
}
#contact-form .input-item{
    width: 100%;
    float: left;
    position: relative;
    padding: 5px 10px;
    padding-left: 0;
}
#contact-form .input-item.half{
    width: 50%;
}
#contact-form .form-control::placeholder{
    color: #282828;
    font-size: 14px;
    font-weight: 300;
}
xs
label {
    display:block;
}
#note {
    color: #17B88F;
    font-size: 13px;
    text-shadow: none;
    display: flex;
}
.modal #note {
    padding:0 10px;
}
.alert-success {
    margin: 0 auto 20px auto;
}
.help-block.with-errors ul {
    color: #ff5050;
    margin-top: 5px;
    font-size: 13px;
    text-align: left;
}
#contact-form i {
    color: #434bdf;
    font-size: 13px;
}

#contact-form .error .email, #contact-form .error .name, #contact-form .error .msg {
    position: absolute;
    right: 0;
    padding: 32px 5px 0 0;
    font-size: 12px;
    color: #f73859;
}
#contact-form label {
    width: 100%;
    z-index: 9;
    position: absolute;
}

#contact-form .terms {
    color:#4F4F51;
    font-size:12px;
    font-weight:300;
    display:block;
    width:200px;
    margin-left:50px;
    margin-top:5px;
}
#contact-form .terms a {
    color:#4F4F51;
    text-decoration:underline;
}
#contact-form input + span {
    position: absolute;
    top: 20px;
    right: 20px;
}

#contact-form input:valid + span::before {
    background-image:url("../assets/img/valid-green.png");
    background-repeat:no-repeat;
    background-size: 15px;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-position: center;
    content: "";
}

#contact-form .primary-btn {
    cursor: not-allowed;
}
.modal #contact-form .primary-btn {
    cursor: not-allowed;
    min-width: 200px;
}

#contact-form:valid .primary-btn{
    cursor: pointer;
}

#contact-form .switch {
    display:inline-block;
    height:22px;
    position:relative;
    width:37px;
}
#contact-form .switch input {
    display:none;
}
#contact-form .switch .slider {
    background-color:#e5e7e9;
    bottom:0;
    cursor:pointer;
    left:0;
    position:absolute;
    right:0;
    top:0;
    transition:.4s;
}
#contact-form .dark .switch .slider {
    background-color:#353a3f;
}
#contact-form .switch .slider:before {
    background-color:#ffffff;
    bottom:2px;
    content:"";
    height:18px;
    background-image:url("../assets/img/delete.png");
    background-repeat:no-repeat;
    background-size:8px;
    background-position:center;
    left:2px;
    position:absolute;
    transition:.4s;
    width:18px;
}
#contact-form input:checked+.slider {
    background-color:#e5e7e9;
}
#contact-form input:checked+.slider:before {
    transform:translateX(15px);
    background-color:#17B88F;
    background-image:url("../assets/img/valid.png");
    background-repeat:no-repeat;
    background-size:10px;
    background-position:center;
}
#contact-form .switch .round {
    border-radius:18px;
}
#contact-form .switch .round:before {
    border-radius: 50%;
}

/* Buttons */
.primary-btn {
    color: #ffffff;
    text-align: center;
    padding: 17px 25px;
    border-color: transparent;
    background: #021F3E;
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0;
    line-height:normal;
    display: inline-block;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    cursor: pointer;
}

.primary-btn:focus {
    outline: none;
}
.primary-btn:hover {
    text-decoration: none;
    opacity: .8;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.primary-btn.is-checked, .primary-btn:active {
    opacity: .3;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.primary-btn.round {
    border-radius: 50px;
}
.primary-btn.square {
    border-radius: 0;
}

.primary-btn.small {
    padding: 10px 15px;
    font-size: 11px;
}
.primary-btn.large {
    padding: 25px;
    min-width: 200px;
    font-size: 14px;
}
.primary-btn img {
    width: 18px;
}
.primary-btn.small img {
    width: 12px;
}
.primary-btn.large img {
    width: 24px;
}
.primary-btn i {
    font-size: 15px;
    padding:0 5px;
}
.primary-btn.small i {
    font-size: 12px;
}
.primary-btn.large i {
    font-size: 24px;
}

.ac-tab, .wk-tab {
    background: #16161d;
    border: 0;
    padding: 20px;
    display: block;
    margin: 5px 10px 5px 0;
    color: #fff;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.ac-tab.active, .wk-tab.selected {
    background: #d80d2c;
}

.cta-container{
    margin: 20px 0;
    display: inline-block;
    width: 100%;
}
.cta-container i {
    margin-right: 10px;
    font-size: 16px;
}
.cta-container a {
    margin-right: 10px;
}
/* Icons */
.icon {
    padding: 20px!important;
    width: 60px;
    height: 60px;
    line-height: 2em!important;
}
.hero-icon {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    padding: 15px;
    line-height: 1;
    text-align: center;
}
.large .hero-icon{
    width: 100px;
    height: 100px;
    padding: 30px;
}
.hero-icon img{
    width: 30px;
}
.large .hero-icon img{
    width: 40px;
}

/* Counter */
.counter-container h2, .counter-container h3, .counter-container h4, .counter-container h5 {
    margin: 10px 0;
}

/*------ RESPONSIVE STYLES -----*/
@media only screen and (max-width: 991px) {
    #start.section {
        padding-top: 100px;
    }
    header .container{
        overflow-x: hidden;
    }
    header .menu {
        width: auto;
    }
    header {
        background: #fff;
    } 
    header.dark {
        background: #16161d;
    } 
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px 0;
    }
    .navbar-nav {
        margin:20px 0;
    }
    .project-nav .logo img{
        height: 40px;
        margin-bottom: 20px;
    }
    footer .w-1, footer .w-2, footer .w-3 {
        text-align: center !important;
    }
    footer .navbar-brand {
        font-size: 1.25rem;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .banner {
        padding: 40px 20px;
    }
    .display {
        font-size: 48px;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 36px;
        margin: 20px 0;
    }
    h2{
        font-size: 36px;
        margin: 20px 0;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 18px;
    }
    blockquote{
        width: 95%;
    }
    .brand-nav {
        text-align: center;
    } 
    .img-container .content-data{
        width: 100%;
    }
    .paragraph{
        max-width: 90%;
    }
    .back-title {
        font-size: 150px!important;
        margin-top: 20px;
    }
    .app-container{
        margin-top: 40px;
    }
    #contact-form{
        width: 100%;
    }
    #contact-form .input-item, #contact-form .input-item.half{
        width: 100%;
        float: none;
    }   
    #contact-form .controls {
        width: 90%;
        margin: 0 auto;
    }
    #contact-form .controls.newsletter {
        width: 600px;
    }
    #contact-form .controls.newsletter.three {
        width: auto;
    }
    #contact-form .newsletter .form-group{
        width: 380px;
    }
    .cta-container .primary-btn{
        margin-right: 0;
        width: 90%;
    } 
    .price-plans-container .info-box.featured{
        margin-top: 0px;
    }
    .testimonial-container .item{
        width: 100%;
    }
    .slider-container .carousel-indicators {
        bottom: 20px;
        width: 100px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .img-container .content-box{
        top: 0px;
    }
    .col-lg-6.mt-minus-100, .col-lg-6.mt-minus-150, .col-lg-6.mt-minus-200{
        margin-top: 0!important;
    }
    .player {
        width: 100%;
    }
    .pop-container {
        font-size:100px;
        height: 200px;
    }
    .item-box {
        width: 600px;
    }
    .featured-img{
        top: -55%;
        right: -20%;
        width: 300px;
    }
}
@media only screen and (max-width: 640px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    #contact-form .newsletter .link-group .primary-btn{
        min-width: 200px;
        border-radius: 6px!important;
    }
    #contact-form .controls, #contact-form .controls.newsletter{
        width: 100%;
    }
    #contact-form .newsletter .form-group{
        width: 300px;
        float: none;
    }
    #contact-form .newsletter.two .form-group{
        width: 300px;
    }
    #contact-form .newsletter.three .form-control {
        border-radius: 0!important;
    }

    #contact-form .newsletter .link-group{
        float: none;
        margin: 0;
        width: auto;
    }
    .content-data {
        padding: 30px;
    }
    .pop-container {
        font-size:80px;
        height: 150px;
    }
    .item-box {
        width: 400px;
    }
    .featured-img{
        top: -15%;
        right: -20%;
        width: 200px;
    }
    .item-box .title{
        font-size: 30px;
    }
}
@media only screen and (max-width: 480px) {
    header .logo{
        height: 50px;
    }
    .navbar-brand{
        font-size: 28px;
    }
    .hero-label-two{
        font-size: 60px;
    }
    .hero-back-label{
        font-size: 80px;
    }

    #contact-form .form-control {
        height: 50px;
    }
    #contact-form .input-item {
        font-size: 11px;
        padding: 0;
    }
    #contact-form .newsletter .link-group .primary-btn, .primary-btn{
        padding: 10px;
    }
    .console-container {
        font-size:40px;
    }
    .pop-container .letters {
        top: 0em;
    }
    .pop-container .letters.text{
        background:none;
        color: white;
    }
    .pop-container.light .letters.text{
        background:none;
        color: black;
    }

}